@import url("variables.css");

/* FULL PAGE STYLING */ 

.pageClass {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-background-color);
}

/* TITLE STYLING */

.pageTitleClass {
    margin: 125px 0;
    width: var(--default-width-percentage);
    max-width: var(--logo-width-value);
}

/* MENU STYLING */

.menuClass {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    margin: 0;
    border: 0;
    padding: 0;
    width: var(--default-width-percentage);
    max-width: var(--default-width-value);
}

/* FOOTER STYLING */

.pageFooterClass {
    margin: 20px 0 10px;
    width: 100%;
    border-top: 1px solid var(--footer-border-color);
    font-size: var(--footer-font-size);
    font-family: var(--base-font-family);
}

.pageFooterClass > p {
    margin: 4px 0 4px;
}

.pageFooterClass > a:hover {
    color: var(--footer-link-hover-font-color);
}

.pageFooterClass,
.pageFooterClass > a {
    color: var(--footer-font-color);
}